# Scraping
requests>=2.31
selenium>=4.12
feedparser>=6.0
xmltodict>=0.13
beautifulsoup4>=4.12

# YoutubeAPI
google-api-python-client>=2.98

# DEBUG
my-utilities @ git+https://github.com/RateteApple/my-utilities@a0ec2e3c8b1a0a586ceac4ab7e5e10d443b50e10